.gallery {
  width: 85%;
}

.gallery__header {
  grid-area: galleryHeader;
  text-align: center;
  margin: 0 auto 20px auto;
}

.gallery__header .title {
  color: var(--color-primary);
}

.gallery__body {
  grid-area: galleryBody;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  place-items: center;
}

.gallery__img {
  width: 75%;
  height: 70%;
  max-width: 100%;
  margin: 0;
  text-align: center;
}

.gallery__img img {
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .gallery {
    display: grid;
    grid-template-areas:
      "galleryHeader"
      "galleryIMG"
      "galleryBody";
  }

  .gallery__header {
    margin: 0 auto 30px auto;
  }

  .gallery__body {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 5px 0;
  }
}
