.section__WhoWeAre {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
  padding: 50px 0;
  height: 100%;
  color: white;
  background: url("../src/assets/photo2.jpg") no-repeat fixed center 100%;
}

.section__WhoWeAre .container {
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-align: center;
}

.WhoWeAre__description {
  width: auto;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WhoWeAre__description .container__img {
  width: 30%;
  max-width: 130px;
  margin: 0 auto 25px auto;
  filter: invert(1);
}

.WhoWeAre__description .title {
  font-size: 1.6em;
  margin: 0 auto 10px auto;
}

.WhoWeAre__description .text {
  width: 100%;
  max-width: 50%;
  font-size: 1em;
}

@media screen and (min-width: 1024px) {
  .section__WhoWeAre {
    background: var(--bg-section) no-repeat fixed center;
    height: 70vh;
  }

  .section__WhoWeAre .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    margin: auto;
  }

  .WhoWeAre__description {
    height: auto;
  }

  .WhoWeAre__description .container__img {
    margin: 0 auto 5px auto;
  }

  .WhoWeAre__description .text {
    max-width: 70%;
  }
}
